<!DOCTYPE html>
<html lang="en">
     <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Magic 8 ball</title>
</head>
<body>
   <h1>Magic 8 ball</h1> 
   <button><a href="/future">FIND OUT YOUR FUTURE</a></button>
   <button><a href="/Qs">HAVE A QUESTION</a></button>    
</body>
</html>
