<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Magic 8 ball</title>
</head>
<body>
        
        <h1>Magic 8 ball</h1> 
        <img src="https://o.remove.bg/downloads/e02af8f6-8007-4a87-b9ce-b889be0cfb70/istockphoto-161810373-612x612-removebg-preview.png">
        <span><button style="height:40px;width:500px"><a class="zoom" href="/future">FIND OUT YOUR FUTURE</a></button></span>
        <div class="zoom">
        <span><button style="height:40px;width:500px"><a class="zoom" href="/Qs">HAVE A QUESTION</a></button></span>
        </div>
</body>
</html>

