<!DOCTYPE html>
<html lang="en">
     <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Magic 8 ball</title>
</head>
<body>
   <h1>Magic 8 ball, ask your question</h1> 
   
   <form action="/Qs" method="post">
        <input type="text" name="name" placeholder="Who is asking">  
        <input type="text" name="q" placeholder="What do you want to know:">  
        <input type="submit" value="Send" /> 
    </form> 
   
   
   
   <button><a href="/future">FIND OUT YOUR FUTURE</a></button>
   <button><a href="/">HOMEPAGE</a></button>
  
</body>
</html>
